{% extends 'base.html.twig' %}


{% block body %}

    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="mb-4">Les dernières sorties</h1>
            <div><a class="btn btn-sm btn-primary" href="{{path('app_game')}}">Tout voir</a></div>
        </div>
        <div class="row">
            {% for game in lastPublishedGames %}
                {% include "common/_cardGame.html.twig" %}
            {% endfor %}
        </div>
    </div>

    <div class="comment-section py-4">
        <div class="container">
            <h1 class="pb-2">Les derniers commentaires</h1>
        </div>
        <div class="d-flex justify-content-evenly">
            {% for comment in lastPostedComments %}
                <div class="cardcomment d-flex flex-column">
                    {{ comment.content|length > 75 ? comment.content|slice(0, 75) ~ '...' : comment.content  }}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}