{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}: {{ language.name }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="my-4">
            <h1 class="">Jeux {{ language.name }}</h1>
        </div>
        <div class="row">
            {% for game in language.games %}
                {% include "common/_cardGame.html.twig" with 
                {
                    'homeDisplay': true
                } 
                %}
            {% endfor %}
        </div>
    </div>

{% endblock %}