{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}
{% for game in games %}
<div class="col-lg-3 col-md-6 mb-5 cardgame">
    <div class="container-image">
        <img class="img-fluid" src="{{game.thumbnailCover}}" alt="{{game.name}}">

    </div>
    <h3 class="cardgame-title"><b>{{game.name}}</b></h3>
{% endfor %}
</div>

{% endblock %}