{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}/{{ 'home.nav.games'|trans }}{% endblock %}

{% block body %}
<div class="container my-4">

    <div class="row">
        <h1 class="mb-4">{{ 'home.menu.games'|trans }}</h1>

        {% for game in games %}
            {% include "common/_cardGame.html.twig" with 
            {
                'gamesDisplay': true
            } 
            %}
        {% endfor %}
    </div>
</div>
{% endblock %}