.comment-section {
    background-color: $bleuFonce;

    

    .cardcomment {
        width: 18rem;
        background-color: $bleuNuit;
        border-radius: 20px;

        > a{
            color: $gris;
            text-decoration: none;
        }
    }

  }