.cardgame {

    

    h2 , h3 {
        text-decoration: none;
        font-size: 1.1rem;
    }

    .container-image {
        height: 220px;

        > img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 20px;
            transition: ease-in-out .15s;

            &:hover {
                cursor: pointer;
                transform: scale(1.05);
                transition: ease-in-out .15s;
            }
        }
        
    }
}

/* a {
    text-decoration: none;
} */
