body {
  padding-top: 3.5rem;
  color: $gris;
  background-color: $bleuNuit;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 1rem;
}

a {
  color: $orange;
  text-decoration: none;
  
  &:hover{
      color:$yellow;
  }
}

.green{
  color: $green ;
  &:hover{
    color:$green;
}
}

.red{
  color: $red ;
  &:hover{
    color:$red;
}
}

.red-bg {
  background-color: $red;
  color: $gris;
  font-size: 1.5rem;
  text-align: center;
}

.orange{
  color: $orange;
  &:hover{
    color:$yellow;
}
}

.checkboxes-template{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  div{
    margin : 1rem 2rem;
  }
}

.bleu-fonce{
  background-color: $bleuFonce;
}
