.view{
    background-color: $bleuFonce;

    h2, h3{
        color: $orange;
    }

    a{
        color: $gris;
        text-decoration: none;
        &:hover{
            color:$yellow;
        }
    }
}