{% extends 'base-front.html.twig' %}

{% block title %}Hello MessagerieController!{% endblock %}

{% block body %}

    <div class="container">
        <h2>Messages envoyés</h2>
        {% for messageSent in app.user.messagesSent %}
            {{messageSent.content}}
        {% endfor %}

        <h2>Messages reçus</h2>
        {% for messageReceived in app.user.messagesReceived %}
            {{messageReceived.content}}
        {% endfor %}

        <hr>

        {{form_start(form)}}
            <input type="submit">
        {{form_end(form)}}

        {% if error == true %}
            <p>Utilisateur inexistant...</p>
        {% endif %}
    </div>

{% endblock %}
