<div class="col-lg-4 col-md-6 mb-4 cardgame">
    <div class="container-image">
        <img class="img-fluid" src="{{game.thumbnailCover}}" alt="{{game.name}}">
    </div>
    <h3 class="mt-1"><b>{{game.name}}</b></h3>
    <h2>{{game.price}}</h2>
</div>