<div class="col-lg-4 col-md-6 mb-5">
    <div class="container-image">
        <img class="img-fluid" src="{{game.thumbnailCover}}" alt="{{game.name}}">
    <h3 class="cardgame-title"><b>{{game.name}}</b></h3>
    </div>
</div>