{% extends 'base.html.twig' %}

{% block content %}
<header>
    {% block header %}
     {% include "common/_navbar.html.twig" %}
    {% endblock %}
</header>

<div class="row mx-0">
    <div class="col-1 px-0">
        {% include "common/_sidebar.html.twig" %}
    </div>
    <div class="col-11">
        {% block body%}
        {% endblock %}
    </div>
</div>
{% endblock %}