{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-12 account-card text-center">
                <h1 class="m-0 pt-2">{{ account.name }}</h1>
                <p class="mb-0"><small class="text-muted">{{ account.nickname }}</small></p> 
                <p class="mb-0"><small class="text-muted">Inscrit depuis le {{ account.createdAt|date("m F Y") }}</small></p> 
                <hr>
            </div>
        </div>    
    </div>
{% endblock %}
